.session-content {
	background-image:url("../../../../assets/images/4907157.jpg");
	background-size: auto;
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    position: absolute;
}

.login-box {
	width: 310px;
	margin: 0 auto; 
}

.login-sidebar .login-box {
	right: 0px;
	position: absolute;
	top: 0;
	
}
@media (min-width: 768px){
	.login-sidebar .login-box {
		height:100vh;
	}	
}

@media (max-width: 767px){
	.login-sidebar .login-box {
		position:relative !important;
	}	
}

.button {
	background-color: #004A7F;
	// -webkit-border-radius: 10px;
	// border-radius: 10px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
	0% { background-color: rgba(255, 0, 0, 0.4); -webkit-box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
	50% { background-color: rgba(255, 0, 0, 0.6); -webkit-box-shadow: 0 0 40px rgba(255, 0, 0, 0.6); }
	100% { background-color: rgba(255, 0, 0, 0.4); -webkit-box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
  }
  
  @-moz-keyframes glowing {
	0% { background-color: rgba(255, 0, 0, 0.4); -moz-box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
	50% { background-color: rgba(255, 0, 0, 0.6); -moz-box-shadow: 0 0 40px rgba(255, 0, 0, 0.6); }
	100% { background-color: rgba(255, 0, 0, 0.4); -moz-box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
  }
  
  @-o-keyframes glowing {
	0% { background-color: rgba(255, 0, 0, 0.4); box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
	50% { background-color: rgba(255, 0, 0, 0.6); box-shadow: 0 0 40px rgba(255, 0, 0, 0.6); }
	100% { background-color: rgba(255, 0, 0, 0.4); box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
  }
  
  @keyframes glowing {
	0% { background-color: rgba(255, 0, 0, 0.4); box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
	50% { background-color: rgba(255, 0, 0, 0.6); box-shadow: 0 0 40px rgba(255, 0, 0, 0.6); }
	100% { background-color: rgba(255, 0, 0, 0.4); box-shadow: 0 0 3px rgba(255, 0, 0, 0.4); }
  }
  @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.imgs {
    animation: blink 6s;
    animation-iteration-count: infinite;
	width: 298px;
}