<div class="session mat-indigo login-sidebar">
  <div class="session-content">
    <div class="session-wrapper">
      <mat-card class="login-box">
        <mat-card-content>
            <div class="text-xs-center pb-1">

			<img src="assets/images/contactinfo.png" alt=""/>
              
              <p class="mat-text-muted">Please login with your username and password to continue.</p>
              <small *ngIf="message" class="mat-text-warn"></small>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around">
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Username" >
                </mat-form-field>
              </div>
              <div class="pb-1">
                <mat-form-field style="width: 100%">
                  <input (keyup.enter)="login()" matInput type="password" placeholder="Password">
                </mat-form-field>
              </div>
 
              <button mat-raised-button color="primary" type="submit" [disabled]="logging" (click)="login()" >{{logging?'Loging...': 'Log In'}}</button>
              <!-- <a style="margin-top:100px;margin-left: 80px;color:MediumSeaGreen;font-size:16px;" href="assets/data/oa-generator-guidelines.pdf" > Open Access Guidelines</a> -->

            </div>


        </mat-card-content>
       
      </mat-card>
    </div>
  </div>
</div>
